@model AddressBook.Models.Contact
@inject AddressBook.Services.Interfaces.IImageService _imageService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Contact</h4>
    <hr />

    <div class="p-3 border border-2 shadow-lg border-info bg-light">
        <form class="row g-3 p-2" action="#">
            <div class="col-12 col-md-4">
                <div class="p-2">
                    <img class="img-fluid" src="@_imageService.ConvertByteArrayToFile(Model.ImageData, Model.ImageType)" alt="Contact Photo" />
                </div>
            </div>
            <div class="col-12 col-md-8">
                <div class="p-2">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            @Html.DisplayNameFor(model => model.FirstName)<br />
                            <p class="h4">@Html.DisplayFor(model => model.FirstName)</p>
                        </div>
                        <div class="col-12 col-md-6">
                            @Html.DisplayNameFor(model => model.LastName)<br />
                            <p class="h4">@Html.DisplayFor(model => model.LastName)</p>
                        </div>

                        <div class="col-12 col-md-6">
                            @Html.DisplayNameFor(model => model.Email)<br />
                            <p>@Html.DisplayFor(model => model.Email)</p>
                        </div>
                        <div class="col-12 col-md-6">
                            @Html.DisplayNameFor(model => model.Phone)<br />
                            <p>@Html.DisplayFor(model => model.Phone)</p>
                        </div>

                        <div class="col-12">
                            @Html.DisplayNameFor(model => model.Address1)<br />
                            <p>@Html.DisplayFor(model => model.Address1)</p>
                        </div>

                        <div class="col-12">
                            @Html.DisplayNameFor(model => model.Address2)<br />
                            <p>@Html.DisplayFor(model => model.Address2)</p>
                        </div>

                        <div class="col-12 col-md-6">
                            @Html.DisplayNameFor(model => model.City)<br />
                            <p>@Html.DisplayFor(model => model.City)</p>
                        </div>

                        <div class="col-12 col-md-4">
                            @Html.DisplayNameFor(model => model.State)<br />
                            <p>@Html.DisplayFor(model => model.State)</p>
                        </div>

                        <div class="col-12 col-md-2">
                            @Html.DisplayNameFor(model => model.Zip)<br />
                            <p>@Html.DisplayFor(model => model.Zip)</p>
                        </div>

                        <div class="col-12">
                            <div class="form-check">
                                <input type="checkbox" id="checkFamily" class="form-check-input" aria-label="Family">
                                <label class="form-check-label" for="checkFamily">Family</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
